In [9]:
import requests
from bs4 import BeautifulSoup

# URL de la página
url = "http://quotes.toscrape.com/"

# Realizamos la petición a la página
r = requests.get(url)

# Creamos un objeto BeautifulSoup con el contenido HTML de la página
soup = BeautifulSoup(r.content, "html.parser")

# Buscamos los datos de interés en la página
quotes = soup.find_all("div", {"class": "quote"})

# Procesamos cada cita obtenida
for quote in quotes:
    text = quote.find("span", {"class": "text"}).text
    author = quote.find("small", {"class": "author"}).text
    tags = [tag.text for tag in quote.find_all("a", {"class": "tag"})]

    print(f"{text} - {author} - {tags}")

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.” - Albert Einstein - ['change', 'deep-thoughts', 'thinking', 'world']
“It is our choices, Harry, that show what we truly are, far more than our abilities.” - J.K. Rowling - ['abilities', 'choices']
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.” - Albert Einstein - ['inspirational', 'life', 'live', 'miracle', 'miracles']
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” - Jane Austen - ['aliteracy', 'books', 'classic', 'humor']
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.” - Marilyn Monroe - ['be-yourself', 'inspirational']
“Try not to become a man of success. Rather become a man of value.” - Albert Einstein - ['adulthood', 'success', 'value']
“It is better to be hated for what you are than to be loved for what you are not.” - André Gide - ['life', 'love']
“I have not failed. I've just found 10,000 ways that won't work.” - Thomas A. Edison - ['edison', 'failure', 'inspirational', 'paraphrased']
“A woman is like a tea bag; you never know how strong it is until it's in hot water.” - Eleanor Roosevelt - ['misattributed-eleanor-roosevelt']
“A day without sunshine is like, you know, night.” - Steve Martin - ['humor', 'obvious', 'simile']

In [4]:
import requests
from bs4 import BeautifulSoup
import csv

# URL de la página
url = "https://en.wikipedia.org/wiki/Valencia"

# Realizamos la petición HTTP y obtenemos el HTML de la página
response = requests.get(url)
html = response.content

# Creamos una instancia de BeautifulSoup para procesar el HTML
soup = BeautifulSoup(html, "html.parser")

# Buscamos la tabla de datos climatológicos por su clase CSS
table = soup.find("table", {"class": "wikitable"})

# Procesamos cada fila de la tabla y escribimos sus valores en un archivo CSV
with open("datos_climaticos.csv", "w", newline="") as f:
    writer = csv.writer(f)

    # Obtenemos las filas de la tabla
    rows = table.find_all("tr")

    # Procesamos cada fila
    for row in rows:
        # Obtenemos las celdas de la fila
        cells = row.find_all("td")

        # Si la fila tiene celdas, escribimos sus valores en el archivo CSV
        if cells:
            row_values = [cell.text.strip() for cell in cells]
            writer.writerow(row_values)

# Imprimimos un mensaje de éxito
print("Datos climatológicos descargados correctamente.")

UnicodeEncodeError: 'charmap' codec can't encode character '\u2212' in position 0: character maps to <undefined>

In [100]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = "https://en.wikipedia.org/wiki/Valencia"

# Realizamos la petición HTTP y obtenemos el HTML de la página
response = requests.get(url)
html = response.content

# Creamos una instancia de BeautifulSoup para procesar el HTML
soup = BeautifulSoup(html, "html.parser")

# Buscamos la tabla de datos climatológicos por su clase CSS
table = soup.find("table", {"class": "wikitable"})

# Procesamos cada fila de la tabla y escribimos sus valores en un DataFrame
rows = table.find_all("tr")
data = []
columns = []
index_names = []

for i, row in enumerate(rows):
    # Obtenemos las celdas de la fila
    head = row.find_all("th")
    cells = row.find_all("td")
    
    # Si la fila tiene celdas, procesamos sus valores
    if head:
        row_values = [cell.text.strip() for cell in head]
        if 'Jan' in row_values:
            months = row_values
        elif len(row_values[0]) < 40:
            index_names.append(row_values)
    
    # Si la fila tiene celdas, procesamos sus valores
    if cells:
        row_values = [cell.text.strip() for cell in cells]
        if 'Source' not in row_values[0]:
            data.append(row_values)
months = [months for months in months if 'Month' not in months]

# Creamos el DataFrame

import itertools
index_names_l = list(itertools.chain.from_iterable(index_names))

df = pd.DataFrame(data, index=index_names_l,columns=months)

Datos climatológicos descargados correctamente.

In [77]:
df.index(index_names_l)

TypeError: 'RangeIndex' object is not callable

In [ ]:
df = pd.DataFrame(columns=["A", "B", "C"], index=["X", "Y", "Z"])

In [98]:
df = pd.DataFrame(data, index=index_names_l,columns=months)

In [101]:
df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
Record high °C (°F),25.8(78.4),29.0(84.2),33.2(91.8),33.5(92.3),42.0(107.6),39.3(102.7),41.8(107.2),43.0(109.4),38.4(101.1),35.6(96.1),32.0(89.6),25.2(77.4),43.0(109.4)
Average high °C (°F),16.4(61.5),17.1(62.8),19.3(66.7),20.8(69.4),23.4(74.1),27.1(80.8),29.7(85.5),30.2(86.4),27.9(82.2),24.3(75.7),19.8(67.6),17.0(62.6),22.8(73.0)
Daily mean °C (°F),11.9(53.4),12.7(54.9),14.6(58.3),16.2(61.2),19.0(66.2),22.9(73.2),25.6(78.1),26.1(79.0),23.5(74.3),19.7(67.5),15.3(59.5),12.6(54.7),18.3(64.9)
Average low °C (°F),7.1(44.8),7.8(46.0),9.7(49.5),11.5(52.7),14.6(58.3),18.6(65.5),21.5(70.7),21.9(71.4),19.1(66.4),15.2(59.4),10.8(51.4),8.1(46.6),13.8(56.8)
Record low °C (°F),−2.6(27.3),−1.2(29.8),1.2(34.2),3.0(37.4),6.0(42.8),10.6(51.1),16.0(60.8),16.2(61.2),11.6(52.9),6.3(43.3),1.6(34.9),−0.3(31.5),−2.6(27.3)
Average precipitation mm (inches),37(1.5),36(1.4),33(1.3),38(1.5),39(1.5),22(0.9),8(0.3),20(0.8),70(2.8),77(3.0),47(1.9),48(1.9),475(18.7)
Average precipitation days (≥ 1 mm),4.4,3.9,3.6,4.8,4.3,2.6,1.1,2.4,5.0,5.0,4.3,4.8,46.3
Mean monthly sunshine hours,171,171,215,234,259,276,315,288,235,202,167,155,"2,696"

In [81]:
import itertools
index_names_l = list(itertools.chain.from_iterable(index_names))

In [87]:
months

['Month',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'Year']

In [35]:
cells = rows[].find_all("th")
print(cells)

[<th scope="row" style="height: 16px;">Average high °C (°F)
</th>]

In [44]:
len(row_values[0])

43

In [88]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
Record high °C (°F),25.8(78.4),29.0(84.2),33.2(91.8),33.5(92.3),42.0(107.6),39.3(102.7),41.8(107.2),43.0(109.4),38.4(101.1),35.6(96.1),32.0(89.6),25.2(77.4),43.0(109.4)
Average high °C (°F),16.4(61.5),17.1(62.8),19.3(66.7),20.8(69.4),23.4(74.1),27.1(80.8),29.7(85.5),30.2(86.4),27.9(82.2),24.3(75.7),19.8(67.6),17.0(62.6),22.8(73.0)
Daily mean °C (°F),11.9(53.4),12.7(54.9),14.6(58.3),16.2(61.2),19.0(66.2),22.9(73.2),25.6(78.1),26.1(79.0),23.5(74.3),19.7(67.5),15.3(59.5),12.6(54.7),18.3(64.9)
Average low °C (°F),7.1(44.8),7.8(46.0),9.7(49.5),11.5(52.7),14.6(58.3),18.6(65.5),21.5(70.7),21.9(71.4),19.1(66.4),15.2(59.4),10.8(51.4),8.1(46.6),13.8(56.8)
Record low °C (°F),−2.6(27.3),−1.2(29.8),1.2(34.2),3.0(37.4),6.0(42.8),10.6(51.1),16.0(60.8),16.2(61.2),11.6(52.9),6.3(43.3),1.6(34.9),−0.3(31.5),−2.6(27.3)
Average precipitation mm (inches),37(1.5),36(1.4),33(1.3),38(1.5),39(1.5),22(0.9),8(0.3),20(0.8),70(2.8),77(3.0),47(1.9),48(1.9),475(18.7)
Average precipitation days (≥ 1 mm),4.4,3.9,3.6,4.8,4.3,2.6,1.1,2.4,5.0,5.0,4.3,4.8,46.3
Mean monthly sunshine hours,171,171,215,234,259,276,315,288,235,202,167,155,"2,696"

In [37]:
# Si la fila tiene celdas, procesamos sus valores
index_names = []
if cells_print:
    row_values = [cell.text.strip() for cell in cells]
    if 'Jan' in row_values:
        months = row_values
    if len(row_values) < 20:
        index_names.append()

NameError: name 'cells_print' is not defined

In [36]:
for i, row in enumerate(rows):
    # Obtenemos las celdas de la fila
    head = row.find_all("th")
    print(head)

[<th colspan="14">Climate data for Valencia (4 km [2 mi] from sea, altitude: 11 <a class="mw-redirect" href="/wiki/Metres_above_sea_level" title="Metres above sea level">m.a.s.l.</a>, averages 1981–2010)
</th>]
[<th scope="row">Month
</th>, <th scope="col">Jan
</th>, <th scope="col">Feb
</th>, <th scope="col">Mar
</th>, <th scope="col">Apr
</th>, <th scope="col">May
</th>, <th scope="col">Jun
</th>, <th scope="col">Jul
</th>, <th scope="col">Aug
</th>, <th scope="col">Sep
</th>, <th scope="col">Oct
</th>, <th scope="col">Nov
</th>, <th scope="col">Dec
</th>, <th scope="col" style="border-left-width:medium">Year
</th>]
[<th scope="row" style="height: 16px;">Record high °C (°F)
</th>]
[<th scope="row" style="height: 16px;">Average high °C (°F)
</th>]
[<th scope="row" style="height: 16px;">Daily mean °C (°F)
</th>]
[<th scope="row" style="height: 16px;">Average low °C (°F)
</th>]
[<th scope="row" style="height: 16px;">Record low °C (°F)
</th>]
[<th scope="row" style="height: 16px;">Average <a href="/wiki/Precipitation" title="Precipitation">precipitation</a> mm (inches)
</th>]
[<th scope="row" style="height: 16px;">Average precipitation days <span class="nowrap" style="font-size:90%;">(≥ 1 mm)</span>
</th>]
[<th scope="row" style="height: 16px;">Mean monthly <a href="/wiki/Sunshine_duration" title="Sunshine duration">sunshine hours</a>
</th>]
[]